.App {
  text-align: center;
  font-family: 'Inter';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo{
  width:3rem;
}

nav{
  display: flex;
  background-color:#21222A;
}

nav > h3{
  color:#61DAFB;
  font-size: 2.75rem;
  margin-left:0.75rem;
}

nav > h5{
  display: flex;
  margin-left: auto;
  margin-right:3rem ;
  font-size: 2rem;
  color: #DEEBF8;
}

.main-content{
  background-color: #282D35;
  background-image: url(./Images/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size:contain;
  color:white;
  height: 81vh;
}

.main-content > h1 {
  margin: 0;
  padding-top:2rem;
  padding-left:2rem;
  font-size: 3rem;
}
li{
  font-size: 1.5rem;
  line-height: 4rem;
}
li::marker{
  font-size: 2rem;
  color: #61DAFB;
}
ul{
  margin-left: 3rem;
  margin-top: 3rem;
}
